body {
  margin: 0;
  line-height: normal;
}
.design-studio-of-container9 {
  line-break: anywhere;
  width: 100%;
}
.design-studio-of-container8,
.logo4 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.design-studio-of-container8 {
  top: 5px;
  line-height: 24px;
  font-weight: 900;
  width: 104px;
  height: 43px;
}
.logo4 {
  top: 0;
  font-size: var(--font-size-7xl);
  line-height: 41.3px;
  font-family: var(--font-condiment);
  color: var(--color-black);
  justify-content: center;
  width: 103px;
  height: 52px;
}
.design-studio-of-parent2 {
  position: relative;
  width: 104px;
  height: 52px;
  flex-shrink: 0;
}
.customise4,
.men4,
.sale4,
.women4 {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31.33px;
  height: 17px;
  flex-shrink: 0;
}
.customise4,
.sale4,
.women4 {
  width: 55.04px;
}
.customise4,
.sale4 {
  width: 75.78px;
}
.sale4 {
  font-size: var(--font-size-base);
  width: 32.23px;
}
.men-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.search4 {
  position: relative;
}
.divplaceholder4 {
  position: absolute;
  top: 10px;
  left: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-md) var(--padding-32xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-products4 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-200);
  width: 180px;
  height: 40px;
}
.material-design-iconsoutlined20 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.open-search-modal4 {
  position: absolute;
  height: calc(100% - 4px);
  width: calc(100% - 140px);
  top: 2px;
  right: 138px;
  bottom: 2px;
  left: 2px;
  border-radius: var(--br-2xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-24xs) var(--padding-20xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div85 {
  position: relative;
  width: 180px;
  height: 40px;
  flex-shrink: 0;
}
.div86 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-16xs) 0 var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.div-parent2 {
  justify-content: center;
  gap: var(--gap-2xl);
  text-align: left;
  color: var(--color-gray-900);
}
.div-parent2,
.frame-parent3,
.group-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent3 {
  justify-content: flex-start;
  gap: var(--gap-7xl);
  color: var(--color-gray-2100);
  font-family: var(--font-abeezee);
}
.group-parent3 {
  width: 1362px;
  height: 50px;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-8xl);
}
.frame-wrapper2,
.return-policy-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
}
.frame-wrapper2 {
  background-color: var(--character-primaryinverse);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-16xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.return-policy-inner {
  height: 131.99px;
  text-align: center;
  color: var(--color-gray-600);
  font-family: var(--font-montserrat);
}
.a18,
.a19,
.a20,
.h44 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.h44 {
  position: absolute;
  top: -1px;
  left: 0;
  padding: 0 var(--padding-24xl) var(--padding-32xs) 0;
}
.a18,
.a19,
.a20 {
  padding: 0 var(--padding-14xl) var(--padding-32xs) 0;
}
.a19,
.a20 {
  padding: 0 var(--padding-16xl) var(--padding-32xs) 0;
}
.a20 {
  padding: 0 var(--padding-15xl) var(--padding-32xs) 0;
}
.div88,
.ul24 {
  position: absolute;
  left: 0;
}
.ul24 {
  top: -1px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-16xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.div88 {
  top: 48px;
  width: 184px;
  height: 144px;
  color: var(--color-gray-1100);
}
.a22,
.div88,
.h45 {
  overflow: hidden;
}
.h45 {
  position: absolute;
  top: -1px;
  left: 232px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-23xl) var(--padding-32xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.a22 {
  padding: 0 var(--padding-17xl) var(--padding-32xs) 0;
}
.a22,
.a23,
.a24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a23 {
  overflow: hidden;
  padding: 0 var(--padding-8xl) var(--padding-32xs) 0;
}
.a24 {
  padding: 0 var(--padding-9xl) var(--padding-32xs) 0;
}
.a24,
.a25,
.div89 {
  overflow: hidden;
}
.a25 {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-7xl) var(--padding-32xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.div89 {
  position: absolute;
  top: 48px;
  left: 232px;
  width: 184px;
  height: 144px;
  color: var(--color-gray-1100);
}
.a26,
.a27,
.a28,
.a29,
.h46 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.h46 {
  position: absolute;
  top: -1px;
  left: 464px;
  padding: 0 var(--padding-19xl) var(--padding-32xs) 0;
}
.a26,
.a27,
.a28,
.a29 {
  padding: 0 var(--padding-13xl) var(--padding-32xs) 0;
}
.a27,
.a28,
.a29 {
  padding: 0 var(--padding-10xl) var(--padding-32xs) 0;
}
.a28,
.a29 {
  padding: 0 var(--padding-xl) var(--padding-32xs) 0;
}
.a29 {
  padding: 0 var(--padding-11xl) var(--padding-32xs) 0;
}
.div90 {
  position: absolute;
  top: 48px;
  left: 464px;
  width: 184px;
  height: 144px;
  color: var(--color-gray-1100);
}
.a30,
.div90,
.h47 {
  overflow: hidden;
}
.h47 {
  position: absolute;
  top: -1px;
  left: 696px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-27xl) var(--padding-32xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-regular-size);
}
.a30 {
  padding: 0 var(--padding-xs) var(--padding-32xs) 0;
}
.a30,
.a31,
.a32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a31 {
  overflow: hidden;
  padding: 0 var(--padding-12xl) var(--padding-32xs) 0;
}
.a32 {
  padding: 0 var(--padding-5xl) var(--padding-32xs) 0;
}
.a32,
.a33,
.div91 {
  overflow: hidden;
}
.a33 {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs) var(--padding-32xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.div91 {
  position: absolute;
  top: 48px;
  left: 696px;
  width: 184px;
  height: 144px;
  color: var(--color-gray-1100);
}
.div87 {
  position: relative;
  width: 880px;
  height: 192px;
  flex-shrink: 0;
}
.div1cf9c3b1-4944-4882-9606-0f1 {
  position: absolute;
  top: 947px;
  left: -3px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-30xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.find-a-store4,
.send-us-feedback4 {
  position: relative;
  line-height: 32.67px;
  text-transform: uppercase;
}
.send-us-feedback4 {
  font-size: var(--font-size-12xs);
}
.div96,
.ul28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ul28 {
  flex-direction: column;
  padding: 0 var(--padding-26xl) 0 0;
  gap: var(--gap-8xs);
}
.div96 {
  position: absolute;
  top: 0;
  left: 6px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-31xs);
}
.div95,
.get-help4 {
  position: relative;
  color: var(--character-primaryinverse);
}
.div95 {
  width: 257.25px;
  height: 178.28px;
  flex-shrink: 0;
}
.get-help4 {
  font-size: var(--font-size-10xs);
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
}
.delivery4,
.order-status4 {
  position: relative;
  line-height: 28px;
}
.delivery4 {
  font-size: var(--font-size-5xs);
}
.div98,
.ul29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ul29 {
  flex-direction: column;
  padding: 0 var(--padding-6xl) 0 0;
  gap: var(--gap-7xs);
}
.div98 {
  position: absolute;
  top: 0;
  left: 6px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-29xs);
}
.div97,
.investors4 {
  position: relative;
  font-size: var(--font-size-8xs);
}
.div97 {
  width: 257.25px;
  height: 213px;
  flex-shrink: 0;
}
.investors4 {
  line-height: 28px;
}
.ul30 {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-28xl) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.div99 {
  position: relative;
  width: 257.25px;
  height: 151px;
  flex-shrink: 0;
  font-size: var(--font-size-5xs);
}
.div93,
.div94 {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-29xl) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.div93 {
  position: absolute;
  top: 40px;
  left: 34px;
  padding: 0 var(--padding-24xs) 0 0;
}
.design-highly-inspired4 {
  position: relative;
  line-height: 12px;
}
.div102 {
  position: absolute;
  top: 12px;
  left: 8px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-32xl) 0 0;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.guides4 {
  position: absolute;
  top: 10px;
  left: calc(50% - 36.11px);
  line-height: 28px;
  text-align: center;
}
.our-privacy-policy4,
.terms-of-sale4,
.terms-of-use4 {
  position: absolute;
  top: 10px;
  right: 237.08px;
  line-height: 28px;
}
.our-privacy-policy4,
.terms-of-use4 {
  right: 138.72px;
}
.our-privacy-policy4 {
  right: 8.03px;
  font-size: var(--font-size-8xs);
}
.div101,
.ul31 {
  position: absolute;
}
.ul31 {
  top: 16px;
  left: 686px;
  width: 680px;
  height: 46px;
  text-align: right;
  font-size: var(--font-size-5xs);
}
.div101 {
  top: 269px;
  left: 34px;
  width: 1372px;
  height: 62px;
  font-size: var(--font-size-8xs);
}
.div92,
.footer5 {
  position: absolute;
  height: 331px;
}
.div92 {
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
}
.footer5 {
  width: 100%;
  top: 1199px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-2100);
  font-size: var(--font-size-10xs);
  color: var(--color-gray-1000);
}
.what-is-dse {
  position: absolute;
  top: 132px;
  left: 109px;
  font-size: var(--font-size-10xl);
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 480.61px;
  height: 31px;
}
.some-exceptions-apply {
  text-decoration: underline;
}
.after-30-days,
.all-purchases-can-container {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 953.33px;
}
.after-30-days {
  width: 947.37px;
}
.div103 {
  position: absolute;
  top: 195px;
  left: 109px;
  display: flex;
  flex-direction: column;
  padding: 0 19.92498779296875px var(--padding-32xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
  font-size: var(--font-size-base);
}
.and-remember-returns,
.so-go-ahead {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 28px;
  color: var(--color-gray-2100);
  text-align: left;
}
.so-go-ahead {
  top: 43px;
}
.shop {
  position: relative;
  line-height: 24px;
}
.button5 {
  left: 0;
  padding: var(--padding-22xs) 21.34375px var(--padding-19xs) var(--padding-7xs);
  font-size: var(--font-size-base);
}
.button5,
.button6,
.button7 {
  position: absolute;
  top: 88px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-2100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button6 {
  left: 104px;
  padding: var(--padding-22xs) 21.640625px var(--padding-19xs)
    var(--padding-7xs);
  font-size: var(--font-size-base);
}
.button7 {
  left: 298.14px;
  padding: var(--padding-22xs) 26.65625px var(--padding-19xs) 26.5px;
}
.div104 {
  position: absolute;
  top: 372px;
  left: 109px;
  width: 973.25px;
  height: 131px;
  text-align: center;
  color: var(--character-primaryinverse);
}
.how-do-i {
  font-family: var(--font-abeezee);
}
.how-do-i-return-a-order {
  margin-block-start: 0;
  margin-block-end: 0;
}
.our-simple-instructions {
  text-decoration: underline;
  font-family: var(--font-abeezee);
}
.you-can-start-a-return-online {
  margin: 0;
}
.how-do-i-container {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 951.18px;
}
.can-i-exchange-container {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 28px;
}
.how-do-i-container2 {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 955.81px;
}
.div105,
.div106 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div106 {
  padding: 0 17.44061279296875px var(--padding-32xs) 0;
  gap: var(--gap-md);
  font-size: var(--font-size-base);
}
.div105 {
  position: absolute;
  top: 523px;
  left: 109px;
  gap: 15px;
  font-size: var(--font-size-3xl);
}
.return-policy {
  position: relative;
  background-color: var(--character-primaryinverse);
  width: 100%;
  height: 1530px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-2100);
  font-family: var(--font-abeezee);
}
